<div class="container">
    <div class="header">
        <div class="text-center my-auto">PartyManager</div>
    </div>
    <div class="container text-center">
        <p>
            Bonjour <%= @user %> ! Un nouvel événement a été créé dans votre groupe "<%= @group %>"!
        </p>
        <p>
            Connectez-vous pour ne pas le louper !
        </p>
        <p class="footer">- The PartyManager Team.</p>
    </div>
</div>
